
/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px){ 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .user-img {
    width: 150px;
    height: 150px;
    }
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
    .post-btn {
        width: 120px;
        display: inline-block;
        text-align: center !important;
        height: 40px !important;
        line-height: 25px !important;
        margin-top: 15px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .user-img {
        width: 140px;
        height: 140px;
    }
    .user-info-wrap h4 {
        margin-top: 15px;
        font-size: 16px;
    }
}